/* Main things */
body {
    background: white;
    color: black;
    font: normal 100% "Times New Roman", serif;
}

a {
    color: #6A48D7;
    text-decoration: none;
}

/* overview */

#overview {
    width: 100%;
    text-align: center;
}

#overview li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* Status lanes and formatting */

.status {
    margin: 1em;
    overflow: hidden;
}

.status-vertical {
    border-right: 1px dashed #bbbbbb;    
    float: left;
    width: 300px;
}

.status-horizontal {
    border-top: 1px dashed #bbbbbb;    
    clear: both;
}

.status h2 {
    font-face: Helvetica, Arial, sans-serif;
    color: #222222;
    margin: 1em;
    text-align: center;
}

/* tickets */
.ticket {
    background: #ffc url(../images/postit1.jpg) no-repeat;
    height: 120px;
    margin: 0 auto;
    width: 200px;
}

.status-horizontal .ticket {
    float: left;
}

.ticket h3 {
    margin: 0 0 0 1em;
    padding: 0.2em 0 0 0;
    width: 80%;
}

.ticket-link {
    float: left;
    margin: 0 0 0 1em;
}

.ticket-link a {
    font-weight: bold;
    text-decoration: none;
}

.ticket-priority {
    float: right;
    margin: 0 1em 0 0;
}