/* Main things */
body {
    background: white;
    color: black;
    font: normal 90% "Helvetica Neue", Arial, Helvetica, serif;
	margin: 0;
	padding: 0;
}

a {
    color: #589fe6;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* overview */

#overview {
    width: 100%;
    text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

#overview ul {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
	font-size: 12px;
	padding: 0;
}

#overview li {
    float: left;
    list-style-type: none;
    padding: 0.5em 30px 0.5em 0;
}

#statuses {
	clear: both;
	width: 99%;
	margin: 0 auto;
}

/* Status lanes and formatting */

.status {
    padding: 0 1em 1em;
    overflow: hidden;
}

#open .status {
    border-right: 1px solid #e5e5e5;    
    float: left;
    width: 9.5%;
		padding: 0 0.75%;
	min-height: 450px;
}

#closed .status {
    clear: both;
}

.status h2 {
    color: #fff;
	padding: 0.25em 0.5em;
    margin: 1em 0;
    text-align: center;
	font-size: 14px;
	background-color: #e5e5e5;
}

/* tickets */
.ticket {
	background-color: #FBF08F;  
    margin: 0.625em auto;
    width: 100%;
    padding: 0em;
	position: relative;
	overflow: hidden;
}

/* start custom ticket colors */
.ticket-default {
}

.ticket-admin {
	background-color: pink;  
}

.ticket-other {
  background-color: #dae29e;
}
/* end custom ticket colors */

#closed .status .ticket {
    float: left;
	margin-right: 1em;
	width: 9.5%;
}

.ticket h3 {
    margin: 5px;
	font-size: 0.75em;
	min-height: 3.75em;
}

.ticket-body {
    position: relative;
    font-family: Monaco, "Lucida Console", "Courier New", monospace;
	font-size: 0.625em;
	margin: 5px;
}

.ticket-link {
	font-weight: bold;
    text-decoration: none;
	display: block;
}

.age {
	display: block;
}

.ci-status {
    display: block;
}
.ci-status.ok { color: #060; font-weight: bold; }
.ci-status.fail { color: white; background-color: red; font-weight: bold; text-transform: uppercase; padding: 0 1em; width: 3em;}
.ci-status.unknown { color: #666; }

.ticket-priority {
    float: right;
    font-size: 80%;
    margin: 0.85em 1em 0 0;
}

img.gravatar {
	float: right;
}