/* Main things */
body {
    background: white;
    color: black;
    font: normal 90% "Helvetica Neue", Arial, Helvetica, serif;
	margin: 0;
	padding: 0;
}

a {
    color: #589fe6;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* overview */

#overview {
    width: 100%;
    text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

#overview ul {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
	font-size: 12px;
	padding: 0;
}

#overview li {
    float: left;
    list-style-type: none;
    padding: 0.5em 30px 0.5em 0;
}

#statuses {
	clear: both;
	width: 99%;
	margin: 0 auto;
}

/* Status lanes and formatting */

.status {
    padding: 0 1em 1em;
    overflow: hidden;
}

#open .status {
    border-right: 1px solid #e5e5e5;    
    float: left;
    width: 9.5%;
	min-height: 450px;
}

#closed .status {
    clear: both;
}

.status h2 {
    color: #fff;
	padding: 0.25em 0.5em;
    margin: 1em 0;
    text-align: center;
	font-size: 14px;
	background-color: #e5e5e5;
}

/* tickets */
.ticket {
	background-color: #FBF08F;
	border-left: 2px solid #e5e5e5;
   	height: 90px;
    margin: 0.625em auto;
    width: 100%;
    padding: 0em;
	position: relative;
	overflow: hidden;
}

#closed .status .ticket {
    float: left;
	margin-right: 1em;
	width: 9.5%;
}

.ticket h3 {
    margin: 0;
    padding: 1em;
	font-size: 0.75em;
}

.ticket-link {
	margin: 0;
	padding: 2px 0 2px 1em;
    font-family: Monaco, "Lucida Console", "Courier New", monospace;
	font-size: 0.75em;
	font-weight: bold;
    text-decoration: none;
	position: absolute;
	bottom: 0;
	left: 0;
}

.ticket-priority {
    float: right;
    font-size: 80%;
    margin: 0.85em 1em 0 0;
}

img.gravatar {
	margin: 0;
	padding: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
}