/* Main things */
body {
    background: white;
    color: black;
    font: normal 90% "Helvetica, Arial", serif;
}

a {
    color: #589fe6;
    text-decoration: none;
}

/* overview */

#overview {
    width: 100%;
    text-align: center;
}

#overview li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* Status lanes and formatting */

.status {
    margin: 1em;
    overflow: hidden;
}

.status-vertical {
    border-right: 1px dashed #bbbbbb;    
    float: left;
    width: 300px;
}

.status-horizontal {
    border-top: 1px dashed #bbbbbb;    
    clear: both;
}

.status h2 {
    font-face: Helvetica, Arial, sans-serif;
    color: #222222;
    margin: 1em;
    text-align: center;
}

/* tickets */
.ticket {
    background: #ffc url(../images/postit1.jpg) no-repeat;
    height: 80px;
    margin: 10  auto;
    width: 200px;
    padding: 10px 0 0 0;
}

.status-horizontal .ticket {
    float: left;
}

.ticket h3 {
    margin: 0 0 0 1em;
    padding: 0.2em 0 0 0;
    width: 80%;
    font:normal 100% Arial;
}

.ticket-link {
    float: left;
    margin: 1em 0 0 1em;
    font: normal 80% "Courier New", serif;
    font-weight:light;
}

/* Ticket link liever permanent in bottom left corner positionen, ik weet effe niet hoe da netjes moet :) */

.ticket-link a {
    font-weight: bold;
    text-decoration: none;
}

.ticket-priority {
    float: right;
    font-size: 80%;
    margin: 0.85em 1em 0 0;
}